@import "vars";
@import "typography";
@import "mixins";

.business-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;

  &__item {
    display: flex;
    flex-direction: column;

    &_1 {
      grid-row: 1;
      grid-column: 1;
      gap: 25px;
    }

    &_2 {
      grid-row: 1;
      grid-column: 2;
      gap: 10px;
    }
  }

  &__text-wrapper {
    padding: 0 50px;
  }

  &__text {
    text-align: center;

    &_main {
      @extend %typography-p3;
    }

    &_score {
      @extend %typography-google-text;
      font-size: 28.16px;
      font-weight: 800;
      line-height: 28.16px;
      color: #fea500;
    }

    &_google {
      @extend %typography-google-text;
      font-size: 14.08px;
      font-weight: 400;
      color: var(--Grey, #868686);
    }

    &_contact {
      display: flex;
      align-items: center;
      text-align: start;
      color: white;
    }
  }

  &__title {
    text-align: center;

    &_main {
      @extend %typography-h1;
    }

    &_google {
      color: var(--Dark-grey, #6a6a6a);
      @extend %typography-google-text;
      font-weight: 700;
      font-size: 18.773px;
      line-height: 18.773px;
    }
  }

  &__apply-wrapper {
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  &__map {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 150px;
    padding: 32px;
    border-radius: 16px;
    background-color: $primary;
  }

  &__address {
    display: flex;
    flex-direction: row-reverse;
  }

  &__phone {
  }

  &__button {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(5.5px);
    font-weight: 700;
    color: $primary;

    &_inner {
      display: inline-block;
      height: auto;
      padding: 6px 16px;
      border-radius: 6px;
      background: #fff;
    }
  }

  &__google-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 25px 0px;
    border-radius: 12px;
    border: 1px solid $accent;
    border-width: 8px 1px 1px 1px;
    border-color: $primary $accent $accent $accent;
  }

  &__google-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 12px;
    border-radius: 69px;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }

  &__google-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__google-score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }

  &__google-stars {
    display: flex;
    justify-content: center;
  }

  &__google-star {
    width: 100%;
    height: 33px;
  }

  &__google-logo {
    @extend %typography-google-logo;
    font-weight: 700;

    &_g {
      color: #4285f4;
    }
    &_o1 {
      color: #db4437;
    }
    &_o2 {
      color: #f4b400;
    }
    &_g2 {
      color: #4285f4;
    }
    &_l {
      color: #0f9d58;
    }
    &_e {
      color: #db4437;
    }
  }

  &__image-wrapper {
    @include bg-image(url("/images/business-card-doctor-1.jpg"));
    height: 100%;
    border-radius: 16px;
  }
}
