@import "mixins";
@import "vars";
@import "typography";

.button {
  
  &__icon-wrapper {
    @include contact-icon();
  }

  &__ref {
    @extend %typography-contact;
  }

  &_contact {
    @include contact-block();
  }

  &_apply {
    @extend %typography-apply;

    box-sizing: border-box;
    border-radius: 12px;
    width: 242px;
    height: 68px;
  }
}
