// Colors

$primary: #2F3280; // Main blue
$primaryGradient: linear-gradient(180deg, #2F3280 0%, #191C68 100%); // Main blue gradient
$secondary: #C22A35; // Secondary red
$secondaryGradient: linear-gradient(180deg, #C22A35 0%, #A61822 100%); // Secondary red gradient
$accent: #D4DFFC; // Accent light blue
$accentGradient: linear-gradient(180deg, #D4DFFC 0%, #C7D6FF 100%); // Accent light blue gradient