---
import "../styles/areas.scss";
import "../styles/info-bars.scss";
---

<article class="main__block surrounding-areas">
  <div class="surrounding-areas__item surrounding-areas__item_1">
    <h3 class="surrounding-areas__title">
      All American Home Care serves Philadelphia, PA and its surrounding areas,
      including:
    </h3>
  </div>
  <div class="surrounding-areas__item surrounding-areas__item_2">
    <div class="surrounding-areas__list">
      <div class="info-bar">Bucks County, PA.</div>
      <div class="info-bar">Philadelphia County, PA.</div>
      <div class="info-bar">Chester County, PA.</div>
      <div class="info-bar">Delaware County, PA.</div>
      <div class="info-bar">Montgomery County, PA.</div>
      <div class="info-bar">Carbon County, PA.</div>
      <div class="info-bar">Northampton County, PA.</div>
      <div class="info-bar">Montgomery County, PA.</div>
    </div>
  </div>
</article>
