<article class="surrounding-areas">
    <section class="tile is-ancestor">
      <div class="tile is-parent is-5">
        <div class="tile is-child">
          <h3 class="surrounding-areas">
            All American Home Care serves Philadelphia, PA and its surrounding areas, including:
          </h3>
          <div class="surrounding-areas__list">
            <div class="info-bar">Bucks County, PA.</div>
            <div class="info-bar">Philadelphia County, PA.</div>
            <div class="info-bar">Chester County, PA.</div>
            <div class="info-bar">Delaware County, PA.</div>
            <div class="info-bar">Montgomery County, PA.</div>
            <div class="info-bar">Carbon County, PA.</div>
            <div class="info-bar">Northampton County, PA.</div>
            <div class="info-bar">Montgomery County, PA.</div>
          </div>
        </div>
      </div>
    </section>
</article>
