<article>
  <div>
    <h4>$350</h4>
    <p>Signing Bonus</p>
  </div>
  <div>
    <h2>Joining our team</h2>
  </div>
  <div>
    <h4>Free</h4>
    <p>Health Insurance</p>
  </div>
  <div>
    <h4>Free</h4>
    <p>Life Insurance</p>
  </div>
  <div>
    <h4>Convenient</h4>
    <p>Locations</p>
  </div>
  <div>
    <h4>Higher</h4>
    <p>Salary</p>
  </div>
  <div>
    <h4>401 K</h4>
    <p>Plan</p>
  </div>
  <div>
    <h4>Bilingual</h4>
    <p>Personnel</p>
  </div>
  <div>
    <h2>You will recive</h2>
  </div>
  <div>
    <h4>Direct</h4>
    <p>Deposit of Paycheck</p>
  </div>
</article>
