---
import "../styles/benefits.scss";
---

<article class="main__block benefits">
  <div class="benefits__item benefits__item_1">
    <h4 class="benefits__title-h4">$350</h4>
    <p class="benefits__text">Signing Bonus</p>
  </div>
  <div class="benefits__item benefits__item_2 benefits__item_header">
    <h2 class="benefits__title-h2">Joining our team</h2>
  </div>
  <div class="benefits__item benefits__item_3">
    <h4 class="benefits__title-h4">Free</h4>
    <p class="benefits__text">Health Insurance</p>
  </div>
  <div class="benefits__item benefits__item_4">
    <h4 class="benefits__title-h4">Free</h4>
    <p class="benefits__text">Life Insurance</p>
  </div>
  <div class="benefits__item benefits__item_5">
    <h4 class="benefits__title-h4">Convenient</h4>
    <p class="benefits__text">Locations</p>
  </div>
  <div class="benefits__item benefits__item_6">
    <h4 class="benefits__title-h4">Higher</h4>
    <p class="benefits__text">Salary</p>
  </div>
  <div class="benefits__item benefits__item_7">
    <h4 class="benefits__title-h4">401 K</h4>
    <p class="benefits__text">Plan</p>
  </div>
  <div class="benefits__item benefits__item_8">
    <h4 class="benefits__title-h4">Bilingual</h4>
    <p class="benefits__text">Personnel</p>
  </div>
  <div class="benefits__item benefits__item_9 benefits__item_header">
    <h2 class="benefits__title-h2">You will recive</h2>
  </div>
  <div class="benefits__item benefits__item_10">
    <h4 class="benefits__title-h4">Direct</h4>
    <p class="benefits__text">Deposit of Paycheck</p>
  </div>
</article>
