---
import "../styles/business.scss";
---

<article class="main__block business-card">
  <section class="business-card__item business-card__item_1">
    <h1 class="business-card__title business-card__title_main">All American home care agency</h1>
    <p class="business-card__text-wrapper business-card__text business-card__text_main">
      All American Home Care, a leading home health care agency, is proud to
      offer high-quality home health care services from its flagship office in
      Philadelphia, PA. Providing home health care in Philadelphia, PA, and all
      surrounding areas.
    </p>
    <div class="business-card__apply-wrapper">
      <a
        href=""
        class="call-us__apply call-us__apply_2 button button_apply is-success"
        >Join our team</a
      >
      <a
        href=""
        class="call-us__apply call-us__apply_1 button button_apply is-primary"
        >Apply for services</a
      >
    </div>
    <div class="business-card__map">
      <div class="business-card__address">
        <a href="" class="business-card__button">
          <span class="business-card__button business-card__button_inner">
            Address:
          </span>
          <p class="business-card__text business-card__text_contact">
            3231 N 2nd St<br />Philadelphia, PA 19140
          </p>
        </a>
      </div>
      <div class="business-card__phone">
        <a href="" class="business-card__button">
          <span class="business-card__button business-card__button_inner business-card__text">
            Phone
          </span>
          <p class="business-card__text business-card__text_contact">
            215-5317882
          </p>
        </a>
      </div>
    </div>
  </section>
  <section class="business-card__item business-card__item_2">
    <div class="business-card__google-wrapper">
      <div class="business-card__google-icon">
        <img src="/images/app-logo.png" alt="App Icon" />
      </div>
      <div class="business-card__google-review">
        <h4 class="business-card__title business-card__title_google">
          All American Home Care Agency
        </h4>
        <div class="business-card__google-score">
          <span class="business-card__text business-card__text_score">4.8</span>
          <div class="business-card__google-stars">
            <span class="business-card__google-star"
              ><img src="/images/star.png" alt="" /></span
            >
            <span class="business-card__google-star"
              ><img src="/images/star.png" alt="" /></span
            >
            <span class="business-card__google-star"
              ><img src="/images/star.png" alt="" /></span
            >
            <span class="business-card__google-star"
              ><img src="/images/star.png" alt="" /></span
            >
            <span class="business-card__google-star"
              ><img src="/images/star.png" alt="" /></span
            >
          </div>
        </div>
        <p class="business-card__text business-card__text_google">
          powered by <span class="business-card__google-logo">
            <span class="business-card__google-logo_g">G</span>
            <span class="business-card__google-logo_o1">o</span>
            <span class="business-card__google-logo_o2">o</span>
            <span class="business-card__google-logo_g2">g</span>
            <span class="business-card__google-logo_l">l</span>
            <span class="business-card__google-logo_e">e</span>
          </span>
        </p>
      </div>
    </div>
    <div class="business-card__image-wrapper"></div>
  </section>
</article>
