---
import "../styles/business.scss";
---

<article class="main__block business-card">
  <section class="business-card__item business-card__item_1">
    <h1 class="business-card__title">All American home care agency</h1>
    <p class="business-card__text">
      All American Home Care, a leading home health care agency, is proud to
      offer high-quality home health care services from its flagship office in
      Philadelphia, PA. Providing home health care in Philadelphia, PA, and all
      surrounding areas.
    </p>
    <div class="business-card__apply-buttons">
      <a href="" class="button button_primary">Join our team</a>
      <a href="" class="button button_secondary">Apply for service</a>
    </div>
    <div class="business-card__map">
      <div class="business-card__address">
        <a href="" class="button button_transparent">
          <div class="button button_misc">Address:</div>
          <p class="business-card__text business-card__text_contact">
            3231 N 2nd St<br />Philadelphia, PA 19140
          </p>
        </a>
      </div>
      <div class="business-card__phone">
        <a href="" class="button button_transparent">
          <div class="button button_misc">Phone</div>
          <p class="business-card__text business-card__text_contact">
            215-5317882
          </p>
        </a>
      </div>
    </div>
  </section>
  <section class="business-card__item business-card__item_2">
    <div class="business-card__google-wrapper">
      <div class="busienss-card__google-container">
        <div class="business-card__google-icon">
          <img src="" alt="" />
        </div>
        <div class="business-card__google-review">
          <h4 class="business-card__google-title">
            All American Home Care Agency
          </h4>
          <div class="business-card__google-score">
            <span>4.8</span>
            <div>
              <span><img src="" alt="" /></span>
              <span><img src="" alt="" /></span>
              <span><img src="" alt="" /></span>
              <span><img src="" alt="" /></span>
              <span><img src="" alt="" /></span>
            </div>
          </div>
          <p class="business-card__text business-card__text_google">
            powered by <span class="business-card__google-logo">
              <span class="business-card__google-logo_g">G</span>
              <span class="business-card__google-logo_o1">o</span>
              <span class="business-card__google-logo_o2">o</span>
              <span class="business-card__google-logo_g2">g</span>
              <span class="business-card__google-logo_l">l</span>
              <span class="business-card__google-logo_e">e</span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="business-card__image-wrapper"></div>
  </section>
</article>