<div class="call-us">
    <div class="call-us__image">
      <img src="" alt="" />
    </div>
    <div class="call-us__apply-buttons">
      <a href="" class="button button_secondary">Become Caregiver</a>
      <a href="" class="button button_info">Call Us</a>
      <a href="" class="button button_primary">Request Care</a>
    </div>
</div>
