---
import "../styles/call-us.scss";
---

<div class="main__block call-us">
  <div class="call-us__image-wrapper">
    <div class="image is-16by9">
      <img src="/images/smiling-doctors.png" alt="Smiling Doctors Image" class="call-us__image" />
    </div>
  </div>
  <div class="call-us__applies columns">
    <div class="column">
      <a href="" class="call-us__apply call-us__apply_1 button button_apply is-primary"
        >Apply for services</a
      >
    </div>
    <div class="column">
      <a href="" class="call-us__apply call-us__apply_2 button button_apply is-success"
        >Join our team</a
      >
    </div>
    <div class="column">
      <a href="" class="call-us__apply call-us__apply_3 button button_apply is-info has-text-primary"
        >Call us</a
      >
    </div>
  </div>
</div>
