---
import "../styles/call-us.scss"
---

<div class="main__block call-us">
    <div class="call-us__image">
      <img src="" alt="Smiling Doctors Image" />
    </div>
    <div class="call-us__apply-buttons columns">
      <div class="column">
        <a href="" class="button button_secondary">Become Caregiver</a>
      </div>
      <div class="column">
        <a href="" class="button button_info">Call Us</a>
      </div>
      <div class="column">
        <div>
          <a href="" class="button button_apply is-primary">Request Care</a>
        </div>
      </div>
    </div>
</div>
