---
import "../styles/call-us.scss";
---

<div class="main__block call-us">
  <div class="call-us__image">
    <div class="image is-16by9">
      <img src="/images/smiling-doctors.png" alt="Smiling Doctors Image" />
    </div>
  </div>
  <div class="call-us__apply-buttons columns">
    <div class="call-us__apply-button column">
      <a href="" class="button button_apply is-primary">Apply for services</a>
    </div>
    <div class="call-us__apply-button column">
      <a href="" class="button button_apply is-success">Join our team</a>
    </div>
    <div class="call-us__apply-button column">
      <a href="" class="button button_apply is-info has-text-primary">Call us</a>
    </div>
  </div>
</div>
