<article class="palliative-n-hospice tile is-ancestor">
    <section class="palliative-n-hospice__item tile is-parent is-vertical is-5">
      <div class="tile is-child">
        <h2 class="title title_h2">Palliative Care and Hospice Care</h2>
      </div>
      <div class="tile is-child">
        <img src="" alt="" />
      </div>
      <div class="tile is-child">
        <h3 class="title title_h3">We provide certified professionals who are educated in palliative and hospice care.</h3>
      </div>
    </section>
    <section class="palliative-n-hospice__item tile is-parent is-vertical is-7">
      <div class="tile is-child">
        <h3 class="title title_h3">
          People suffering from dire medical conditions require specialized care that combines medical,
          psychological, and social treatment.
        </h3>
      </div>
      <div class="tile is-child">
        <p class="palliative-n-hospice__text">
          This includes diseases like cancer, ALS, Alzheimer&rsquo;s, Parkinson&rsquo;s, HIV, and more. These
          diseases can leave family members not knowing how to better the quality of their loved one&rsquo;s life.
        </p>
      </div>
      <div class="tile is-child">
        <img src="" alt="" />
      </div>
      <div class="tile is-child">
        <p class="palliative-n-hospice__text">
          Our goal is to ensure that our patients have the best life they can while they go through this difficult
          time. This way, you do not have to worry about your family members spending their final days in a
          hospital. Now, your family members can live the rest of their lives comfortably in their own homes.
        </p>
      </div>
    </section>
</article>