---
import "../styles/button.scss";

type Props = {
    info: string;
    icon: string;
    alt: string;
    modifier: string;
};

const { info, icon, alt, modifier } = Astro.props;
---

<div class=`button button_contact_${modifier}`>
  <div class="button__icon-wrapper">
    <img src={icon} alt={alt} class="button__icon" />
  </div>
  <div class="button__ref">{info}</div>
</div>
