---
import '../styles/footer.scss';
---

<footer>
  <div class="footer">
    <div class="footer__menu">
      <div class="footer__col_start">
        <ul class="footer__list">
          <li class="footer__item">Home</li>
          <li class="footer__item">About us</li>
          <li class="footer__item">Services</li>
          <li class="footer__item">Hiring</li>
          <li class="footer__item">Contacts</li>
        </ul>
        <div class="button_contact footer__phone">
          <div class="button__icon">
            <img src="/images/call.png" alt="call" />
          </div>
          <div class="button__ref">
            <a href="tel:215-5317882">
              215-5317882
            </a>
          </div>
        </div>
      </div>

      <div class="footer__col_center">
        <ul class="footer__list">
          <li class="footer__item">Terms & Conditions</li>
          <li class="footer__item">Helpful Links</li>
          <li class="footer__item">Privacy Policy</li>
          <li class="footer__item">SMS and Call Terms</li>
          <li class="footer__item">Blog</li>
        </ul>
        <div class="footer__image">
          <img src="/images/footer-logo.svg" alt="footer-logo" />
        </div>
      </div>

      <div class="footer__col_end">
        <ul class="footer__list">
          <li class="footer__item">Videos</li>
          <li class="footer__item">Employee portal</li>
          <li class="footer__item">
            <div class="footer__icon">
              <img src="/images/instagram.svg" alt="instagram" />
            </div>
          </li>
          <li class="footer__item">
            <div class="footer__icon">
              <img src="/images/facebook.svg" alt="facebook" />
            </div>
          </li>
          <li class="footer__item">
            <div class="footer__icon">
              <img src="/images/linkedin.svg" alt="linkedin" />
            </div>
          </li>
        </ul>
        <div class="button_contact footer__mail">
          <div class="button__icon">
            <img src="/images/mail.png" alt="mail" />
          </div>
          <div class="button__ref">
            <a href="mailto:mspivak@myallamericancare.com">
              mspivak@myallamericancare.com
            </a>
          </div>
        </div>
      </div>
    </div>
    <p class="footer__text">
      Copyright © 2023 All American Home Care. All rights reserved
    </p>
  </div>
</footer>
