<footer class="footer">
    <div class="footer__menu tile is-ancestor">
      <div class="tile is-parent is-vertical">
        <div class="tile is-child">
          <ul class="footer__list">
            <li class="footer__item">Home</li>
            <li class="footer__item">About us</li>
            <li class="footer__item">Services</li>
            <li class="footer__item">Hiring</li>
            <li class="footer__item">Contacts</li>
          </ul>
        </div>
        <div class="tile is-child">
          <div class="button button_contact">
            <div class="button__icon">
              <img src="" alt="" />
            </div>
            <div class="button__ref"><a>215-5317882</a></div>
          </div>
        </div>
      </div>
      <div class="tile is-parent is-vertical">
        <div class="tile is-child">
          <ul class="footer__list">
            <li class="footer__item">Terms & Conditions</li>
            <li class="footer__item">Helpful Links</li>
            <li class="footer__item">Privacy Policy</li>
            <li class="footer__item">SMS and Call Terms</li>
            <li class="footer__item">Blog</li>
          </ul>
        </div>
        <div class="tile is-child">
          <div class="footer__image">
            <img src="" alt="" />
          </div>
        </div>
      </div>
      <div class="tile is-parent is-vertical">
        <div class="tile is-child">
          <ul class="footer__list">
            <li class="footer__item">Videos</li>
            <li class="footer__item">Employee portal</li>
            <li class="footer__item">
              <div class="footer__icon">
                <img src="" alt="" />
              </div>
            </li>
            <li class="footer__item">
              <div class="footer__icon">
                <img src="" alt="" />
              </div>
            </li>
            <li class="footer__item">
              <div class="footer__icon">
                <img src="" alt="" />
              </div>
            </li>
          </ul>
        </div>
        <div class="tile is-child">
          <div class="button button_contact">
            <div class="button__icon">
              <img src="" alt="" />
            </div>
            <div class="button__ref"><a>mspivak@myallamericancare.com</a></div>
          </div>
        </div>
      </div>
    </div>
    <p class="footer__text">Copyright © 2023 All American Home Care. All rights reserved</p>
</footer>
