---
type Props = {
    title: string,
    icon: string,
    alt: string,
    role: 'client' | 'caregiver',
}

const { title, icon, alt, role } = Astro.props;
const className = `form-button form-button_${role}`;
---

<div class={className}>
    <div class="form-button__content">
        { title }
    </div>

    <div class="form-button__icon-wrapper">
        <img src={icon} alt={alt} class="form-button__icon">
    </div>
</div>

<style lang="scss">
    @import '../styles/vars.scss';

    .form-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px 24px 0px 0px;
        border-radius: 8px;
        width: 50%;
        justify-content: center;
        padding: 18px 8px;

        &:last-child{
            margin: 0px 0px 0px 0px;
        }

        &__icon-wrapper{
            width: 28px;
            height: 28px;
        }

        &_client{
            background-color: white;
            color: $primary;
        }

        &_caregiver{
            border: 1px solid white;
            background-color: $primary;
            color: white;
        }

        &__content{
            margin: 0px 16px 0px 0px;
        }
    }
</style>
