---
type Props = {
    title: string,
    icon: string,
    alt: string,
}

const { title, icon, alt } = Astro.props;
---

<div class="form-button">
    <div class="form-button__content">
        { title }
    </div>

    <div class="form-button__icon-wrapper">
        <img src={icon} alt={alt} class="form-button__icon">
    </div>
</div>

<style>
    .form-button{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .form-button__content{
        margin: 0px 16px 0px 0px;
    }
</style>