---
import FormButton from "./FormButton.astro";
import '../styles/vars.scss';
import '../styles/form.scss';
---

<section class="get-touch">
    <div class="get-touch__suggestion">
        <h2 class="get-touch__suggestion-title">
            Lets get<br>in touch!
        </h2>
        <p class="get-touch__suggestion-desc">
            We're always happy to answer<br>your questions.
        </p>
    </div>
    <form action="#" method="post" class="get-touch__form">
        <h4 class="get-touch__form-title">I am a</h4>
        <div class="get-touch__role">
            <FormButton title="Client" alt="client" icon="/images/customer.png" role="client"/>
            <FormButton title="Caregiver" alt="caregiver" icon="/images/health-care.png" role="caregiver"/>
        </div>
        <div class="get-touch__fullname">
            <input type="text" class="form-input input" placeholder="First name*" id="first-name">
            <input type="text" class="form-input input" placeholder="Last name*" id="last-name">
        </div>
        <div class="get-touch__contact">
            <input type="text" class="form-input input" placeholder="Phone number*" id="phone">
            <input type="text" class="form-input input" placeholder="Zip Code*" id="zip">
        </div>
        <div class="get-touch__select select is-primary">
            <select>
              <option value="" selected>I already have services</option>
              <option value=""></option>
            </select>
        </div>
        <input type="submit" value="Submit" class="get-touch__submit button button_info">
    </form>
</section>
