---
import "../styles/header.scss"
---

<header>
  <div class="header columns is-vcentered">
    <div class="header__banner column">
      <img class="header__image" src="" alt="All American Home Care Logo" />
    </div>
    <nav class="header__navigation column">
      <ul class="header__list columns">
        <li class="header__item button is-ghost"><a href="/">Home</a></li>
        <li class="header__item button is-ghost"><a href="/">About us</a></li>
        <li class="header__item button is-ghost"><a href="/">Services</a></li>
        <li class="header__item button is-ghost"><a href="/">Hiring</a></li>
        <li class="header__item button is-ghost"><a href="/">Contacts</a></li>
      </ul>
    </nav>
    <div class="header__button column has-text-centered">
      <div class="button button_contact is-rounded">
        <div class="button__icon">
          <img src="" alt="" />
        </div>
        <div class="button__ref">215-5317882</div>
      </div>
    </div>
  </div>
</header>
