<article class="highlight">
    <section class="highlight__list">
      <h4 class="title title_h4">Accreditation and Licensing</h4>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
    </section>
    <section class="highlight__list">
      <h4 class="title title_h4">Eligible insurance providers</h4>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
    </section>
    <section class="highlight__list">
      <h4 class="title title_h4">As seen on TV</h4>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
    </section>
</article>