<article class="main__block highlight">
    <section class="highlight__list">
      <h4 class="highlight__title">Accreditation and Licensing</h4>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
    </section>
    <section class="highlight__list">
      <h4 class="highlight__title">Eligible insurance providers</h4>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
    </section>
    <section class="highlight__list">
      <h4 class="highlight__title">As seen on TV</h4>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
      <div class="highlight__image">
        <img src="" alt="" />
      </div>
    </section>
</article>
