---
import "../styles/highlight.scss";
---

<article class="main__block highlight">
  <section class="highlight__list">
    <h4 class="highlight__title">Accreditation and Licensing</h4>
    <div class="highlight__image">
      <img
        src="/images/cms-centers-for-medicare-medicaid-services"
        alt="cms-centers-for-medicare-medicaid-services"
      />
    </div>
    <div class="highlight__image">
      <img
        src="/images/pennsylvania-department-of-health"
        alt="pennsylvania-department-of-health"
      />
    </div>
    <div class="highlight__image">
      <img src="/images/the-joint-commission" alt="the-joint-commission" />
    </div>
    <div class="highlight__image">
      <img
        src="/images/bbb-accredited-business"
        alt="bbb-accredited-business"
      />
    </div>
  </section>
  <section class="highlight__list">
    <h4 class="highlight__title">Eligible insurance providers</h4>
    <div class="highlight__image">
      <img src="/images/pa-health-n-wellness" alt="pa-health-n-wellness" />
    </div>
    <div class="highlight__image">
      <img
        src="/images/community-health-choices"
        alt="community-health-choices"
      />
    </div>
    <div class="highlight__image">
      <img src="/images/keystone-first" alt="keystone-first" />
    </div>
  </section>
  <section class="highlight__list">
    <h4 class="highlight__title">As seen on TV</h4>
    <div class="highlight__image">
      <img src="/images/phl-17" alt="phl-17" />
    </div>
    <div class="highlight__image">
      <img src="/images/10" alt="10" />
    </div>
    <div class="highlight__image">
      <img src="/images/fox-29-philadelphia" alt="fox-29-philadelphia" />
    </div>
    <div class="highlight__image">
      <img src="/images/6-abc" alt="6-abc" />
    </div>
  </section>
</article>
