---
import "../styles/highlight.scss";
---

<article class="main__block highlight">
  <section class="highlight__list highlight__list_1">
    <h4 class="highlight__title highlight__title_1">
      Accreditation and Licensing
    </h4>
    <div class="highlight__image">
      <img
        src="/images/cms-centers-for-medicare-medicaid-services.png"
        alt="cms-centers-for-medicare-medicaid-services"
      />
    </div>
    <div class="highlight__image">
      <img
        src="/images/pennsylvania-department-of-health.png"
        alt="pennsylvania-department-of-health"
      />
    </div>
    <div class="highlight__image">
      <img src="/images/the-joint-commission.png" alt="the-joint-commission" />
    </div>
    <div class="highlight__image">
      <img
        src="/images/bbb-accredited-business.png"
        alt="bbb-accredited-business"
      />
    </div>
  </section>
  <section class="highlight__list highlight__list_2">
    <h4 class="highlight__title highlight__title_2">
      Eligible insurance providers
    </h4>
    <div class="highlight__image">
      <img
        src="/images/community-health-choices.png"
        alt="community-health-choices"
      />
    </div>
    <div class="highlight__image">
      <img src="/images/keystone-first.png" alt="keystone-first" />
    </div>
    <div class="highlight__image">
      <img src="/images/pa-health-n-wellness.png" alt="pa-health-n-wellness" />
    </div>
  </section>
  <section class="highlight__list highlight__list_3">
    <h4 class="highlight__title highlight__title_3">As seen on TV</h4>
    <div class="highlight__image">
      <img src="/images/phl-17.png" alt="phl-17" />
    </div>
    <div class="highlight__image">
      <img src="/images/10.png" alt="10" />
    </div>
    <div class="highlight__image">
      <img src="/images/fox-29-philadelphia.png" alt="fox-29-philadelphia" />
    </div>
    <div class="highlight__image">
      <img src="/images/6-abc.png" alt="6-abc" />
    </div>
  </section>
</article>
