<article class="main__block hiring-multiple">
    <section class="hiring-multiple__positions tile is-ancestor">
      <div class="tile is-parent is-5">
        <div class="tile is-child">
          <h2 class="hiring-multiple__title-h2">Now hiring multiple positions</h2>
          <p class="hiring-multiple__text">
            Want to work for one of the leading home health care agencies in Philadelphia, PA? All American Home
            Care Agency is hiring healthcare professionals in a variety of positions:
          </p>
          <div class="hiring-multiple__list">
            <div class="info-bar">Direct care workers</div>
            <div class="info-bar">Patient care coordinators</div>
            <div class="info-bar">Certified nursing assistants</div>
            <div class="info-bar">Home health aides</div>
            <div class="info-bar">Human resources</div>
            <div class="info-bar">Sales</div>
          </div>
        </div>
      </div>
      <div class="tile is-parent is-7">
        <div class="tile is-child">
          <img src="" alt="" />
        </div>
      </div>
    </section>
    <section class="hiring-multiple__benefits tile is-ancestor">
      <div class="tile is-parent is-5">
        <div class="tile is-child"></div>
      </div>
      <div class="tile is-parent is-7">
        <div class="tile is-child">
          <h3 class="hiring-multiple__title-h3">
            We offer competitive salaries, generous PTO packages after your first year of work, 401k, and more, all
            in a friendly environment. See what positions are right for you by
          </h3>
        </div>
      </div>
    </section>
</article>
