---
import "../styles/main.scss";

import BusinessCard from "../components/BusinessCard.astro";
import CallUs from "../components/CallUs.astro";
import WhyUs from "../components/WhyUs.astro";
import Services from "../components/Services.astro";
import GetTouchForm from "./GetTouchForm.astro";
import SpecializedCare from "../components/SpecializedCare.astro";
import Medicare from "../components/Medicare.astro";
import Care from "../components/Care.astro";
import Hiring from "../components/Hiring.astro";
import Areas from "../components/Areas.astro";
import Touch from "../components/Touch.astro";
import Highlight from "../components/Highlight.astro";
import Benefits from "./Benefits.astro";
---

<main>
  <div class="main">
    <BusinessCard />
    <Benefits />
    <CallUs />
    <WhyUs />
    <Services />
    <GetTouchForm />
    <SpecializedCare />
    <Medicare />
    <Care />
    <Hiring />
    <Areas />
    <Touch />
    <Highlight />
  </div>
</main>
