<article class="main__block medicare">
    <section class="medicare__item">
      <h3 class="medicare__title-h3">Make any day pay!</h3>
      <h2 class="medicare__title-h2">Does Medicare cover home health care in PA?</h2>
      <p class="medicare__text">
        Did you know that All American Home Care Agency in Philadelphia offers DailyPay? Work today – get paid
        today.
      </p>
    </section>
    <section class="medicare__image-wrapper">
      <img src="" alt="" />
    </section>
</article>
