<article class="services-range">
    <div class="services-range__row services-range__row_1">
      <div class="info-bar">Hospice Care</div>
      <div class="info-bar">Transportation</div>
    </div>
    <div class="services-range__row services-range__row_2">
      <div class="info-bar">Specialized Dementia</div>
      <div class="info-bar">Light Homemaking</div>
      <div class="info-bar">Palliative Care</div>
    </div>
    <div class="services-range__row services-range__row_3">
      <div class="info-bar">Companion Care</div>
      <h3 class="services-range__title">We offer a wide range of services including:</h3>
      <div class="info-bar">nursing home services</div>
    </div>
    <div class="services-range__row services-range__row_4">
      <div class="info-bar">Parkinson’s Care</div>
      <div class="info-bar">Medication Management</div>
    </div>
    <div class="services-range__row services-range__row_5">
      <div class="info-bar">Specialized Care</div>
      <div class="info-bar">Senior Care</div>
      <div class="info-bar">Respite Or Temporary Care</div>
    </div>
</article>
<article class="home-care-services">
    <h2 class="home-care-services__title">Home Care Services</h2>
    <p class="home-care-services__description">
      Our team of medical professionals can offer aid for a range of needs, such as patient and caretaker education, first aid and wound care, physical and occupational therapy, injections, medication management, transportation, light meal preparation and housekeeping, and assistance with personal care activities.
    </p>
    <div class="home-care-services__image-wrapper">
      <img class="home-care-services__image" src="" alt="">
    </div>
</article>