---
import "../styles/services.scss";
import "../styles/info-bar.scss";
---

<article class="main__block services-range">
  <div class="services-range__row services-range__row_1">
    <div class="services-range__item services-range__item_1 info-bar">
      Hospice Care
    </div>
    <div class="services-range__item services-range__item_2 info-bar">
      Transportation
    </div>
  </div>
  <div class="services-range__row services-range__row_2">
    <div class="services-range__item services-range__item_3 info-bar">
      Specialized Dementia
    </div>
    <div class="services-range__item services-range__item_4 info-bar">
      Light Homemaking
    </div>
    <div class="services-range__item services-range__item_5 info-bar">
      Palliative Care
    </div>
  </div>
  <div class="services-range__row services-range__row_3">
    <div class="services-range__item services-range__item_6 info-bar">
      Companion Care
    </div>
    <h3 class="services-range__title">
      We offer a wide range<br />of services including:
    </h3>
    <div class="services-range__item services-range__item_7 info-bar">
      Nursing Home Services
    </div>
  </div>
  <div class="services-range__row services-range__row_4">
    <div class="services-range__item services-range__item_8 info-bar">
      Parkinson’s Care
    </div>
    <div class="services-range__item services-range__item_9 info-bar">
      Medication Management
    </div>
  </div>
  <div class="services-range__row services-range__row_5">
    <div class="services-range__item services-range__item_10 info-bar">
      Specialized Care
    </div>
    <div class="services-range__item services-range__item_11 info-bar">
      Senior Care
    </div>
    <div class="services-range__item services-range__item_12 info-bar">
      Respite Or Temporary Care
    </div>
  </div>
</article>
<article class="main__block home-care-services">
  <h2 class="home-care-services__title">Home<br />Care<br />Services</h2>
  <p class="home-care-services__description">
    Our team of medical professionals can offer aid for a range of needs, such
    as patient and caretaker education, first aid and wound care, physical and
    occupational therapy, injections, medication management, transportation,
    light meal preparation and housekeeping, and assistance with personal care
    activities.
  </p>
  <div class="home-care-services__image-wrapper">
      <img
        class="home-care-services__image"
        src="/images/doctor-hands.png"
        alt="Doctor Hands"
      />
  </div>
</article>
