<article class="main__block specialty-care">
    <h2 class="title title_h2">
      Additionally, we provide specialized care for those with special requirements, including:
    </h2>
    <p class="specialty-care__text">
      We will happily send a licensed professional to provide in-home care. Our experienced staff can even provide a
      family member or friend with the necessary training to care for a loved one.
    </p>
    <section class="specialty-care__item tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile is-parent">
          <div class="tile is-child is-4">
            <h3 class="title title_h3">24/7</h3>
            <p class="specialty-care__text specialty-care__text_">care</p>
          </div>
          <div class="tile is-child is-8">
            <h3 class="title title_h3">Long-term</h3>
            <p class="specialty-care__text specialty-care__text_">care</p>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child is-8">
            <h3 class="title title_h3">Companion</h3>
            <p class="specialty-care__text specialty-care__text_">care</p>
          </div>
          <div class="tile is-child is-4">
            <h3 class="title title_h3">Nursing</h3>
            <p class="specialty-care__text specialty-care__text_">home services</p>
          </div>
        </div>
      </div>
      <div class="tile is-parent is-4">
        <div class="tile is-child">
          <h3>Specialty care</h3>
          <p>for those with Parkinson&rsquo;s, dementia, diabetes, disabilities, post-surgery care, and more.</p>
        </div>
      </div>
    </section>
</article>
