---
import '../styles/specialized-care.scss';
---
<article class="main__block specialty-care">
    <h2 class="title title_h2">
      Additionally, we provide specialized care for<br>those with special requirements, including:
    </h2>
    <p class="specialty-care__text">
      We will happily send a licensed professional to provide in-home care. Our experienced<br>staff can even provide a
      family member or friend with the necessary training to care for<br>a loved one.
    </p>
    <section class="specialty-care__items">
        <div class="specialty-care__item specialty-care__item_hours">
          <h3 class="title_h3">24/7</h3>
          <p class="specialty-care__item-text">care</p>
        </div>
        <div class="specialty-care__item specialty-care__item_term">
          <h3 class="title_h3">Long-term</h3>
          <p class="specialty-care__item-text">care</p>
        </div>
        <div class="specialty-care__item specialty-care__item_companion">
          <h3 class="title_h3">Companion</h3>
          <p class="specialty-care__item-text">care</p>
        </div>
        <div class="specialty-care__item specialty-care__item_nursing">
          <h3 class="title_h3">Nursing</h3>
          <p class="specialty-care__item-text">home services</p>
        </div>
        <div class="specialty-care__item specialty-care__item_care">
          <h3 class="title_h3">Specialty care</h3>
          <p class="specialty-care__item-text">for those with Parkinson&rsquo;s, dementia, diabetes,<br>disabilities, post-surgery care, and more.</p>
        </div>
    </section>
</article>
