---
import "../styles/why-us.scss";
---

<article class="main__block why-us notification is-primary">
  <h2 class="why-us__title">
    Why All American<br>Health Care?
  </h2>
  <p class="why-us__text why-us__text_goal">
    Our goal is to provide high-quality medical care and help improve your loved
    one&rsquo;s quality of life. Contact us today to learn more about our home
    health care services in Philadelphia, PA.
  </p>
  <section class="why-us__reasons columns">
    <div class="column">
      <div class="why-us__reason notification is-info has-text-primary">
        <div class="why-us__identifier">1</div>
        <p class="why-us__text why-us__text_reason">
          At All American Health Care, we are<br>proud to provide personalized care
          in<br>the comfort of your loved one&rsquo;s home
        </p>
      </div>
    </div>
    <div class="column">
      <div class="why-us__reason notification is-info has-text-primary">
        <div class="why-us__identifier">2</div>
        <p class="why-us__text why-us__text_reason">
          Our certified nursing assistants and<br>home care aides are experienced
          and<br>compassionate
        </p>
      </div>
    </div>
    <div class="column">
      <div class="why-us__reason notification is-info has-text-primary">
        <div class="why-us__identifier">3</div>
        <p class="why-us__text why-us__text_reason">
          They will provide high-quality home<br>care in Philadelphia and all
          surrounding areas
        </p>
      </div>
    </div>
  </section>
</article>
